/* button style */
.up,
.down {
  display: flex;
  justify-content: center;
}

.left-right {
  display: flex;
  justify-content: center;
  margin: 0.625rem;
}

.leftwards,
.rightwards {
  margin: 3.125rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #fff;
  color: #dc042c;
  background: #1e1e1e;
  box-shadow: 0.3125rem -0.3125rem 0.625rem rgba(0, 0, 0, 0.6);
}

.upwards,
.downwards {
  padding: 1.25rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #fff;
  color: #dc042c;
  background: #1e1e1e;
  box-shadow: 0.3125rem -0.3125rem 0.625rem rgba(0, 0, 0, 0.6);
}
