body {
  background-color: #000000;
}

.game-area {
  position: relative;
  width: 37.5rem;
  height: 31.25rem;
  border: 0.125rem solid #ffffff;
  margin: 3.125rem auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 0.625rem #dc042c;
}
